/*
    Authors: Fred, Cory, Connor
    Description: Final WebDev Project of a Game Distribution Site

    *****************************************
    *               COLOR SCHEME            *
    *****************************************
    Color 1: 
    French Grey 777992

    Color 2: 
    purple grey 8488c2

    COlor 3:
    purple 5a58da

    Color 4: 
    Med Purple 0f0b83

    Color 5: 
    Black 000500
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Roboto:wght@100;400&display=swap');

* { 

    font-family: 'roboto';
    text-align: start;
    border: none;
}

.col {
    border: 2px solid #473BF0 ;background-color: #ACADBC;
}


.card-body {
    margin-top: 0;
    
}

.card-body > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    margin-top: 15px;
    justify-content: center;
}

.online-offline h5 {
    color: white;
    text-align: end;
}

.online-offline small {

    color: blue;
    font-style: italic;
    padding: 2px;
    margin-top: auto;
    display: flex;
    background-color: aqua;
}

ol {
    list-style-type: none;
    padding-right: 2rem;
    text-align: start;
    justify-content: space-between;
    height: auto;
    width: auto;
    
}

.border {
    border-radius: 1rem;
    display: inline-block
}

li {
    color: blanchedalmond;
    font-size: 1.2em;
}
span {
    color: #9B9ECE;
}